body {
  background-color: #e9ecef;
}

/* Header */
.dropdown-toggle::after {
  display: none !important;
}

/* sidebar */

/* Responsive styles for smaller screens */
@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .card-login {
    width: 90%;
  }
}

.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-container h2 {
  font-size: 1.5rem;
  color: #000080;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f0f8ff;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.register-container p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.register-container a {
  color: #007bff;
  text-decoration: none;
}

.register-container a:hover {
  text-decoration: underline;
}



